.ui.form .field.date-picker-field {
    display: inline-block;
    margin-right: 12px;
    position: relative;
}

.ui.pointing.label {
    vertical-align: top;
}

.ui.pointing.label:before {
    z-index: 0;
}

.column {
    float: left;
    z-index: 1;
}
.column.left.date-picker-wrapper {
    margin: 4px 8px;
    width: calc(100% - 94px);
}
.column.right {
    width: 78px;
}

.date-picker-input-wrapper {
    display: inline-block;
    width: 105px;
}

.desktop-homepage {
    display: block;
}

.mobile-homepage {
    display: none;
}

.mobile-menu {
    display: none !important;
}

/* sidebar styles */
.sidebar-visible.right .control-panel {
    width: 350px !important;
    max-width: 350px !important;
}

.sidebar-visible.bottom .control-panel {
    height: 350px !important;
    max-height: 350px !important;
}
/* sidebar styles */

/* main wrapper */
.main-wrapper {
    position: relative;
}

.right.main-wrapper {
    height: 100%;
}

.right.sidebar-visible.main-wrapper {
    width: calc(100% - 350px);
}

.right.sidebar-hidden.main-wrapper {
    width: 100%;
}

.bottom.main-wrapper {
    width: 100%;
}

.bottom.sidebar-visible.main-wrapper {
    height: calc(100% - 350px);
}

.bottom.sidebar-hidden.main-wrapper {
    height: 100%;
}
/* main wrapper */

@media screen and (max-width: 700px),
screen and (max-height: 700px) and (max-width: 400px) {
    .mobile-homepage {
        display: block;

        --segment-side-padding: 2em;
        --segment-top-bottom-padding: 2em;
    }

    .mobile-menu {
        display: block !important;
    }

    .mobile-menu > * {
        display: inline-block !important;
    }

    .mobile-menu > .left {
        float: left;
    }

    .mobile-menu > .right {
        float: right;
    }

    .mobile-menu > .right > .item {
        display: inline-block !important;
    }

    .desktop-homepage {
        display: none !important;
    }

    .desktop-menu {
        display: none !important;
    }

    /* sidebar */
    .sidebar-visible.right .control-panel {
        width: 100% !important;
        max-width: 100% !important;
    }

    .sidebar-visible.bottom .control-panel {
        height: 100% !important;
        max-height: 100% !important;
    }

    .map-mode .sidebar-visible.right .control-panel,
    .map-mode .sidebar-visible.bottom .control-panel {
        display: none !important;
    }

    .settings-mode .sidebar-visible.right .control-panel,
    .settings-mode .sidebar-visible.bottom .control-panel {
        display: block !important;
    }

    .sidebar-toggle {
        display: none !important;
    }
    /* sidebar styles */

    /* main wrapper */
    .right.sidebar-visible.main-wrapper {
        height: 100%;
        width: 100%;
    }

    .bottom.sidebar-visible.main-wrapper {
        height: 100%;
        width: 100%;
    }
    /* main wrapper */

}
